// Fonts

// Review
@font-face {
  font-family: "Review Thin";
  src: url("../fonts/Review\ Family/Review-Thin-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Review Thin Italic";
  src: url("../fonts/Review\ Family/Review-ThinItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Light";
  src: url("../fonts/Review\ Family/Review-Light-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Review Light Italic";
  src: url("../fonts/Review\ Family/Review-LightItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Regular";
  src: url("../fonts/Review\ Family/Review-Regular-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Regular Italic";
  src: url("../fonts/Review\ Family/Review-RegularItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Medium";
  src: url("../fonts/Review\ Family/Review-Medium-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Review Medium Italic";
  src: url("../fonts/Review\ Family/Review-MediumItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Bold";
  src: url("../fonts/Review\ Family/Review-Bold-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Review Bold Italic";
  src: url("../fonts/Review\ Family/Review-BoldItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Heavy";
  src: url("../fonts/Review\ Family/Review-Heavy-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Review Heavy Italic";
  src: url("../fonts/Review\ Family/Review-HeavyItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Review Black";
  src: url("../fonts/Review\ Family/Review-Black-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Review Black Italic";
  src: url("../fonts/Review\ Family/Review-BlackItalic-Trial.otf")
    format("opentype");
}

// Atlas Typewriter
@font-face {
  font-family: "Atlas Typewriter Thin";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-Thin-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Thin Italic";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-ThinItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Light";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-Light-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Light Italic";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-LightItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Regular";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-Regular-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Regular Italic";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-RegularItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Medium";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-Medium-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Medium Italic";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-MediumItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Bold";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-Bold-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Bold Italic";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-BoldItalic-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Black";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-Black-Trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Atlas Typewriter Black Italic";
  src: url("../fonts/Atlas\ Typewriter\ Family/AtlasTypewriter-BlackItalic-Trial.otf")
    format("opentype");
}

// Bootstrap overrides
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "black": $black,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  15: $spacer * 0.375,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$font-family-sans-serif: "Review Regular", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Atlas Typewriter Regular", SFMono-Regular, Menlo,
  Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$display-font-family: "Review Medium";

$display-font-sizes: (
  11: 10rem,
  12: 9.5rem,
  13: 9rem,
  14: 8.5rem,
  15: 8rem,
  16: 7.5rem,
  17: 7rem,
  18: 6.5rem,
  19: 6rem,
  10: 5.5rem,
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem,
  9: 1rem,
  0: 0.75rem,
);

$modal-inner-padding: 0;

$mark-bg: rgb(116, 255, 113);
$mark-padding: 0em;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Import do-slide's CSS
@import "~do-slide/dist/do-slide.min.css";

// import material symbols
@import "~material-symbols/sharp.css";

// Bootstrap classes
.font-monospace {
  text-transform: uppercase; // text-uppercase
}

.opacity-0,
.opacity-100 {
  transition: opacity 250ms ease-in-out;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar {
  transition: background 250ms ease-in-out;
}

.nav-link,
.navbar-brand {
  font-family: "Atlas Typewriter Regular", monospace;
  font-size: 0.75rem;
  text-transform: uppercase;
  &.active {
    font-family: "Atlas Typewriter Bold", monospace;
  }
}

.navbar-toggler,
.t-close {
  border: none;
  outline: none;
  &:focus,
  &:active,
  &-icon:focus {
    outline: none;
    box-shadow: none;
  }
}

.modal-body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.btn-white-transparent {
  @include button-variant($white, $black, $hover-background: transparent);
  &.btn-strategy {
    height: 100%;
    color: $white;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid $black;
    border-bottom: 0px;
    border-radius: 0px;
    > div {
      height: inherit;
    }
  }
}

.btn-outline-white {
  @include button-outline-variant($white);
}

.btn-outline-white-noborder {
  @include button-variant(
    transparent,
    transparent,
    $color: $white,
    $hover-background: transparent
  );
  border: 0px;
}

.btn-outline-black {
  @include button-outline-variant($black);
}

// Custom mixins
@mixin theme-color-border-color($c-color, $c-border-color) {
  color: $c-color;
  border-color: $c-border-color;
}

@mixin theme-background-color($c-background-color) {
  background-color: $c-background-color;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    .border-#{$breakpoint}-left-none {
      border-left: none !important;
    }
    .border-#{$breakpoint}-right-none {
      border-right: none !important;
    }
    .border-#{$breakpoint}-top-none {
      border-top: none !important;
    }
    .border-#{$breakpoint}-bottom-none {
      border-bottom: none !important;
    }
  }
}

// Custom elements
* {
  font-family: "Review Regular", sans-serif;
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

strong {
  font-family: "Review Heavy";
}

u {
  font-family: inherit;
}

.t-highlight {
  // display: inline-block;
  // line-height: 0;
  // padding-top: 0.5em;
  // padding-bottom: 0.5em;
  font-family: inherit;
  transition: background 0.2s ease-in-out;
}

// Custom classes
.t-black {
  @include theme-color-border-color($white, $white);
  &.t-filled {
    @include theme-background-color($black);
  }
}

.t-white {
  @include theme-color-border-color($black, $black);
  &.t-filled {
    @include theme-background-color($white);
  }
}

.t-transparent {
  @include theme-background-color(transparent);
}

.t-overflow-hidden {
  overflow: hidden;
}

t-sticky-text {
  position: sticky;
  top: 0;
}

.t-mono {
  font-family: "Atlas Typewriter Regular";
  text-transform: uppercase;
}

.difference {
  mix-blend-mode: difference;
}

.navbar-border {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: solid;
  transition: background 250ms ease-in-out;
}

.wrap,
.fullscreen-flex-container,
.fullscreen-video-container,
.fullscreen-animation-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fullscreen-video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    $black 0%,
    $black 2.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.fullscreen-flex-container-content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.fullscreen-animation-container {
  translate: 0 100%;
  opacity: 0;
  transition: translate 500ms cubic-bezier(0.8, 0, 0.2, 1);
  &.active {
    translate: 0 0;
    opacity: 1;
    transition: translate 500ms cubic-bezier(0.8, 0, 0.2, 1);
  }
}

.fullscreen-video-container-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
