// Bootstrap overrides

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Import do-slide's CSS
@import url("~do-slide/dist/do-slide.min.css");

// Custom styles
// Variable font
@font-face {
  font-family: "Favorit Variable";
  src: url("../fonts/ABCFavoritVariable-Trial.woff2") format("woff2-variations"),
    url("../fonts/ABCFavoritVariable-Trial.woff") format("woff-variations");
}

// Fallback static font
@font-face {
  font-family: "Favorit";
  font-weight: normal;
  src: url("../fonts/ABCFavorit-Regular-Trial.woff2") format("woff2"),
    url("../fonts/ABCFavorit-Regular-Trial.woff") format("woff");
}

* {
  font-family: "Favorit Variable", "Favorit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $dark;
  color: $light;
}

.navbar {
  &.fixed-top {
    border-bottom: 1px solid $light;
  }
  &.fixed-bottom {
    border-top: 1px solid $light;
  }
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.variable-h1 {
  font-family: "Favorit Variable";
  font-variation-settings: "wght" 300, "ital" 0;
  transition: font-variation-settings 0.3s ease;
}

.variable-h1:hover {
  font-variation-settings: "wght" 700, "ital" 12;
}

canvas {
  /* behavioral settings */
  display: block;
}

.loadingclass {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  /* behavioral settings */
  overflow: hidden;
  /* styles, colours */
  background-color: transparent;
}

#idealised-landscapes {
  // position: relative;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.privacyStatement {
  // position: absolute;
  // display: inline-block;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  height: 100%;
  width: max-content;
  padding: 8%;
  // border: 1px solid white;
}

.aspirina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: max-content;
}

.imstuff {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 18%;
  width: auto;
  // max-height: 100%;
  // max-width: 100%;
  aspect-ratio: 16 / 9;
  // border: 1px solid black;
}

.imagelandscape {
  // aspect-ratio: 16 / 9;
  // width: auto;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
}
